@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  background-color: #d8d8d8;
  font-family: lato, sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header {
  margin-bottom: 5%;
}

body {
  margin: 0%;
}
h1 {
  font-family: lato, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
  text-shadow: 1px 1px 5px #fff;
}
h2 {
  font-family: lato, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
}
h3 {
  font-family: lato, sans-serif;
  font-style: normal;
  font-weight: 700;
  color: #d8d8d8;
  transition: color 500ms;
}
h3:hover {
  color: #282828;
}

.masthead {
  background-color: #fff;
  text-align: center;
  padding: 1%;
}
.image {
  width: 100%;
  max-width: 760px;
}
.intro {
  padding-left: 5%;
  padding-right: 5%;
}
@media only screen and (min-width: 48em) {
  .image {
    margin-left: 22%;
  }
  h1  {
    font-size: 3.5rem;
    text-align: left;
    margin-top: 0;
  }

}
