@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  background-color: #d8d8d8;
  font-family: lato, sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header {
  margin-bottom: 5%;
}

body {
  margin: 0%;
}
h1 {
  color: #282828;
  font-family: lato, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2.7rem;
  text-align: center;
  text-shadow: 1px 1px 5px #fff;
  margin-bottom: 0;
}
h2 {
  color: #282828;
  font-family: lato, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  text-align: center;
  background-color: #fff;
  padding: 5%;
}
h3 {
  font-family: lato, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1em;
  color: #d8d8d8;
  transition: color 500ms;
  text-align: center;
  padding: 3.5%;
}
h3:hover {
  color: #282828;
}
h4 {
  font-family: lato, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1em;
  color: #282828;
  text-align: left;
  background-color: #fff;
  padding: 3.5%;
}
a {
  text-decoration: none;
}
.site {
  text-decoration: none;
}
.masthead {
  background-color: #fff;
  text-align: center;
  padding-top: 1%;
}
.image {
  width: 100%;
  max-width: 760px;
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 1rem;
}
.intro {
  padding-left: 5%;
  padding-right: 5%;
  margin-top: -0.5rem;
}
.info {
  background-color: #fff;
  padding: 1rem;
  width: 90%;
  position: absolute;
  text-align: left;
  margin-left: 5%;
  border-radius: 32px;
  margin-bottom: 3rem;
  box-shadow: 0 0 16px #282828;
}
.icons {
  background-color: #282828;
  padding: 6px;
  width: 75%;
  margin-left: 12.5%;
  margin-bottom: 1rem;
  border-radius: 32px;
  box-shadow: 0 0 16px #282828;
}
.click {
  color: #fff;
}
.foottxt {
  background-color: #fff;
  margin-top: 15.5rem;
  margin-bottom: 0;
  text-decoration: none;
}
@media only screen and (min-width: 48em) {

  .image {
    margin-left: 5%;
    margin-top: 0;
    padding-left: 5%;
    padding-right: 5%;
    width: 134%;
  }

  h1 {
    font-size: 5rem;
    text-align: right;
    margin-top: 0;
  }

  h4 {
    max-width: 30rem;
  }

  .info {
    background-color: #fff;
    padding: 1rem;
    width: 64%;
    position: absolute;
    text-align: left;
    margin-left: 2%;
  }
  .icons {
    padding: 1rem;
    width: 32%;
    margin-left: 1%;
    margin-top: 2.5rem;
  }
  .cntnt {
    margin-left: 4.25%;
  }
  .top {
    margin-bottom: 2rem;
  }
  .foottxt {
    background-color: #fff;
    margin-top: 5rem;
    margin-bottom: 0;
    text-decoration: none;
  }
}
